body{
	background-image: url("1.jpg");
	background-color: black;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color:white;
}

.table1{
	border-color:black;
	caption-side: top;
	position: center;
	color:white;
	background: rgba(0, 0, 10, 0.20);
	width: 80%; 
	margin: 0 auto; 
	text-align: left;
	border-style:ridge;
	border :2px;
	border-radius: 20px;
	
}
.tablewew{
	
	border-color:black;
	caption-side: top;
	color:white;
	background: rgba(0, 0, 10, 0.40);
	margin: 0 auto; 
	text-align: left;
	border-style:ridge;
	border :2px;
	
}
.xd
{
	background: rgba(0, 0, 20, 0.40);
	border: 2px solid;
	border-color: black;
}
.xd3
{
	
	text-align: center;
	background: rgba(0, 0, 20, 0.50);
	border: 2px solid;
	border-color: black;
	
}
.xd2
{
	background: rgba(0, 0, 20, 0.40);
	border: 2px solid;
	border-color: black;
	width: 80%;
}
.tabelastopka{
	color:white;
	background: rgba(0, 0, 20, 0.40);
    border :2px;
	caption-side: top;
	position: center;
	border-style: ridge;
	border-color:black;
}
.czas{
	position: right;
	text-align: right;
}


.obrazek{
	font-size: 40px;
	margin-left: 33%;
	position: center;
	background-repeat: no-repeat;
	color:white;
}

a {
	font-style: italic;
	position:center;
	color: white;
}

